@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
  background: #d3d3d3;
}

/* navbar style*/
.navbar {
  position: relative;
  background-color: #d3d3d3;
}

.navbar .img_div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 1rem;
}

/* signup page style */
@media (min-width: 360px) {
  .signup_container .signup-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .signup_container .signup-content .signup-form {
    margin: 2rem 1rem 2rem 1rem;
  }
  .signup_container .signup-content .signup-form .form-title {
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .signup_container .signup-content .signup-form .register-form .form-group {
    border-bottom: 1px solid #3f3b3b;
    margin-bottom: 1.6rem;
    width: 70vw;
  }
  .signup_container .signup-content .signup-form .register-form .form-group input {
    border: none;
    margin-left: 0.6rem;
    outline: none;
    background: transparent;
  }
  .signup_container .signup-content .signup-form .register-form .form-group1 {
    padding: 2rem 0rem;
  }
  .signup_container .signup-content .signup-form .register-form .form-group1 .form-submit {
    color: #ffff;
    background: blue;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    padding: 0.4rem 1.2rem;
  }
  .signup_container .signup-content .signup_image_side .signup-image img {
    display: none;
  }
  .signup_container .signup-content .signup_image_side .redirect_link_desktop {
    display: none;
  }
  .signup_container .signup-content .signup_image_side .signup-image-link {
    text-decoration: none;
  }
}

@media (min-width: 576px) {
  .signup_container .signup-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .signup_container .signup-content .signup-form .form-title {
    margin-left: -2rem;
  }
  .signup_container .signup-content .signup-form .register-form {
    margin-left: -2rem;
  }
  .signup_container .signup-content .signup-form .register-form .redirect_link_phone {
    display: none;
  }
  .signup_container .signup-content .signup-form .register-form .form-group {
    width: 40vw !important;
  }
  .signup_container .signup-content .signup_image_side .signup-image {
    margin-left: 1rem;
    height: 60vh;
    width: 30vw;
  }
  .signup_container .signup-content .signup_image_side .signup-image img {
    display: block;
    height: 60vh;
  }
  .signup_container .signup-content .signup_image_side .redirect_link_desktop {
    display: block;
  }
  .signup_container .signup-content .signup_image_side .signup-image-link .login_page_redirect {
    width: 100%;
    margin-left: 3rem;
  }
}

@media (min-width: 768px) {
  .signup_container .signup-content {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    min-width: -webkit-max-content !important;
    min-width: -moz-max-content !important;
    min-width: max-content !important;
  }
  .signup_container .signup-content .signup-form .form-title {
    margin-left: 2rem;
  }
  .signup_container .signup-content .signup-form .register-form {
    margin-left: 2rem !important;
  }
  .signup_container .signup-content .signup_image_side .signup-image {
    width: 30vw !important;
    height: 25vh;
  }
  .signup_container .signup-content .signup_image_side .signup-image img {
    height: 25vh;
  }
  .signup_container .signup-content .signup_image_side .signup-image-link .login_page_redirect {
    width: 100%;
    margin-left: 4rem;
  }
}

@media (min-width: 992px) {
  .signup_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffff;
  }
  .signup_container .signup-content {
    -webkit-box-shadow: 5px 5px 20px rgba(211, 211, 211, 0.9);
            box-shadow: 5px 5px 20px rgba(211, 211, 211, 0.9);
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
  .signup_container .signup-content .signup-form .register-form .form-group {
    width: 26vw !important;
  }
  .signup_container .signup-content .signup_image_side {
    min-width: -webkit-max-content !important;
    min-width: -moz-max-content !important;
    min-width: max-content !important;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .signup_container .signup-content .signup_image_side .signup-image {
    width: 18vw !important;
    height: 40vh !important;
  }
  .signup_container .signup-content .signup_image_side .signup-image img {
    height: 36vh !important;
  }
  .signup_container .signup-content .signup_image_side .signup-image-link .login_page_redirect {
    margin-left: 5rem;
  }
}

/* Login page style */
@media (min-width: 360px) {
  .login_container .login-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .login_container .login-content .login-form {
    margin: 2rem 1rem 2rem 1rem;
  }
  .login_container .login-content .login-form .form-title {
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .login_container .login-content .login-form .register-form .form-group {
    border-bottom: 1px solid #3f3b3b;
    margin-bottom: 1.6rem;
    width: 70vw;
  }
  .login_container .login-content .login-form .register-form .form-group input {
    border: none;
    margin-left: 0.6rem;
    outline: none;
    background: transparent;
  }
  .login_container .login-content .login-form .register-form .form-group1 {
    padding: 2rem 0rem;
  }
  .login_container .login-content .login-form .register-form .form-group1 .form-submit {
    color: #ffff;
    background: blue;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    padding: 0.4rem 1.2rem;
  }
  .login_container .login-content .login_image_side .login-image img {
    display: none;
  }
  .login_container .login-content .login_image_side .redirect_link_desktop {
    display: none;
  }
  .login_container .login-content .login_image_side .login-image-link {
    text-decoration: none;
  }
}

@media (min-width: 576px) {
  .login_container .login-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .login_container .login-content .login-form .register-form .redirect_link_phone {
    display: none;
  }
  .login_container .login-content .login-form .register-form .form-group {
    width: 40vw !important;
  }
  .login_container .login-content .login_image_side {
    margin-right: 1rem;
  }
  .login_container .login-content .login_image_side .login-image {
    height: 60vh;
    width: 30vw;
  }
  .login_container .login-content .login_image_side .login-image img {
    display: block;
    height: 60vh;
  }
  .login_container .login-content .login_image_side .redirect_link_desktop {
    display: block;
  }
  .login_container .login-content .login_image_side .login-image-link .login_page_redirect {
    width: 100%;
    margin-left: 3rem;
  }
}

@media (min-width: 768px) {
  .login_container .login-content {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    min-width: -webkit-max-content !important;
    min-width: -moz-max-content !important;
    min-width: max-content !important;
  }
  .login_container .login-content .login-form .form-title {
    margin-left: 2rem;
  }
  .login_container .login-content .login-form .register-form {
    margin-left: 2rem !important;
  }
  .login_container .login-content .login_image_side {
    margin-right: 2rem;
  }
  .login_container .login-content .login_image_side .login-image {
    width: 30vw !important;
    height: 25vh;
  }
  .login_container .login-content .login_image_side .login-image img {
    height: 25vh;
  }
  .login_container .login-content .login_image_side .login-image-link .login_page_redirect {
    width: 100%;
    margin-left: 3rem;
  }
}

@media (min-width: 992px) {
  .login_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffff;
  }
  .login_container .login-content {
    margin-top: 5rem !important;
    -webkit-box-shadow: 5px 5px 20px rgba(211, 211, 211, 0.9);
            box-shadow: 5px 5px 20px rgba(211, 211, 211, 0.9);
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
  .login_container .login-content .login-form .register-form .form-group {
    width: 26vw !important;
  }
  .login_container .login-content .login_image_side {
    min-width: -webkit-max-content !important;
    min-width: -moz-max-content !important;
    min-width: max-content !important;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .login_container .login-content .login_image_side .login-image {
    width: 18vw !important;
    height: 40vh !important;
  }
  .login_container .login-content .login_image_side .login-image img {
    height: 36vh !important;
  }
  .login_container .login-content .login_image_side .login-image-link .signup_page_redirect {
    margin-left: 5rem;
  }
}
/*# sourceMappingURL=App.css.map */