@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");
$lightgrey: #d3d3d3;
$blueColor: blue;
$whiteColor: #ffff;
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 16px;
  background: $lightgrey;
}

/* navbar style*/

.navbar {
  position: relative;
  background-color: $lightgrey;
  .img_div {
    box-sizing: border-box;
    margin-left: 1rem;
  }
}

/* signup page style */

@media (min-width: 360px) {
  .signup_container {
    .signup-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .signup-form {
        margin: 2rem 1rem 2rem 1rem;
        .form-title {
          font-weight: 700;
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }
        .register-form {
          .form-group {
            border-bottom: 1px solid rgb(63, 59, 59);
            margin-bottom: 1.6rem;
            width: 70vw;
            input {
              border: none;
              margin-left: 0.6rem;
              outline: none;
              background: transparent;
            }
          }
          .form-group1 {
            padding: 2rem 0rem;
            .form-submit {
              color: $whiteColor;
              background: $blueColor;
              border: none;
              outline: none;
              border-radius: 0.3rem;
              padding: 0.4rem 1.2rem;
            }
          }
        }
      }
      .signup_image_side {
        .signup-image {
          img {
            display: none;
          }
        }
        .redirect_link_desktop {
          display: none;
        }
        .signup-image-link {
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .signup_container {
    .signup-content {
      justify-content: flex-start;
      .signup-form {
        .form-title {
          margin-left: -2rem;
        }
        .register-form {
          margin-left: -2rem;
          .redirect_link_phone {
            display: none;
          }
          .form-group {
            width: 40vw !important;
          }
        }
      }
      .signup_image_side {
        .signup-image {
          margin-left: 1rem;
          height: 60vh;
          width: 30vw;
          img {
            display: block;
            height: 60vh;
          }
        }
        .redirect_link_desktop {
          display: block;
        }
        .signup-image-link {
          .login_page_redirect {
            width: 100%;
            margin-left: 3rem;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .signup_container {
    .signup-content {
      max-width: max-content;
      min-width: max-content !important;
      .signup-form {
        .form-title {
          margin-left: 2rem;
        }

        .register-form {
          margin-left: 2rem !important;
        }
      }
      .signup_image_side {
        .signup-image {
          width: 30vw !important;
          height: 25vh;
          img {
            height: 25vh;
          }
        }
        .signup-image-link {
          .login_page_redirect {
            width: 100%;
            margin-left: 4rem;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .signup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $whiteColor;
    .signup-content {
      box-shadow: 5px 5px 20px rgba($lightgrey, 0.9);
      width: max-content !important;
      .signup-form {
        .register-form {
          .form-group {
            width: 26vw !important;
          }
        }
      }
      .signup_image_side {
        min-width: max-content !important;
        height: max-content;
        .signup-image {
          width: 18vw !important;
          height: 40vh !important;
          img {
            height: 36vh !important;
          }
        }
        .signup-image-link {
          .login_page_redirect {
            margin-left: 5rem;
          }
        }
      }
    }
  }
}

/* Login page style */

@media (min-width: 360px) {
  .login_container {
    .login-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .login-form {
        margin: 2rem 1rem 2rem 1rem;
        .form-title {
          font-weight: 700;
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }
        .register-form {
          .form-group {
            border-bottom: 1px solid rgb(63, 59, 59);
            margin-bottom: 1.6rem;
            width: 70vw;
            input {
              border: none;
              margin-left: 0.6rem;
              outline: none;
              background: transparent;
            }
          }
          .form-group1 {
            padding: 2rem 0rem;
            .form-submit {
              color: $whiteColor;
              background: $blueColor;
              border: none;
              outline: none;
              border-radius: 0.3rem;
              padding: 0.4rem 1.2rem;
            }
          }
        }
      }
      .login_image_side {
        .login-image {
          img {
            display: none;
          }
        }
        .redirect_link_desktop {
          display: none;
        }
        .login-image-link {
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .login_container {
    .login-content {
      justify-content: flex-start;
      .login-form {
        .register-form {
          .redirect_link_phone {
            display: none;
          }
          .form-group {
            width: 40vw !important;
          }
        }
      }
      .login_image_side {
        margin-right: 1rem;
        .login-image {
          height: 60vh;
          width: 30vw;
          img {
            display: block;
            height: 60vh;
          }
        }
        .redirect_link_desktop {
          display: block;
        }
        .login-image-link {
          .login_page_redirect {
            width: 100%;
            margin-left: 3rem;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .login_container {
    .login-content {
      max-width: max-content;
      min-width: max-content !important;
      .login-form {
        .form-title {
          margin-left: 2rem;
        }

        .register-form {
          margin-left: 2rem !important;
        }
      }
      .login_image_side {
        margin-right: 2rem;
        .login-image {
          width: 30vw !important;
          height: 25vh;
          img {
            height: 25vh;
          }
        }
        .login-image-link {
          .login_page_redirect {
            width: 100%;
            margin-left: 3rem;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $whiteColor;
    .login-content {
      margin-top: 5rem !important;
      box-shadow: 5px 5px 20px rgba($lightgrey, 0.9);
      width: max-content !important;
      .login-form {
        .register-form {
          .form-group {
            width: 26vw !important;
          }
        }
      }
      .login_image_side {
        min-width: max-content !important;
        height: max-content;
        .login-image {
          width: 18vw !important;
          height: 40vh !important;
          img {
            height: 36vh !important;
          }
        }
        .login-image-link {
          .signup_page_redirect {
            margin-left: 5rem;
          }
        }
      }
    }
  }
}
