@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
$lightgrey: #d3d3d3;
$blueColor: blue;
$whiteColor: #ffff;

body {
  font-size: 16px;
  background-color: $lightgrey;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

/* contact page style */

.icon_bar_div {
  .row {
    .contact_user {
      box-shadow: 5px 5px 20px rgb(192, 245, 245);
      background-color: $whiteColor;
      display: flex;
      justify-content: stretch;
      align-items: center;
      box-sizing: border-box;
      .icon {
        /*  linear-gradient(
          to right,
          #053710,
          #2d621b,
          #5f901f,
          #9bbe1d,
          #e2eb12
        ); */
        position: relative;
        top: 0;
        font-size: 2rem;
        opacity: 0.7;
      }
      .email_icon {
        color: #e2eb12;
      }
      .map_icon {
        color: lightcoral;
      }
      .phone_icon {
        color: orange;
      }
      .icon:hover {
        opacity: 1;
        transition: 0.4s;
        top: -10px;
      }

      .contact_user_info {
        margin-left: 3rem;
        h2 {
          font-size: 1rem;
        }
        p {
          word-break: break-all;
          font-size: 0.8rem;
        }
      }
    }
  }
}
@media (min-width: 567px) {
  .icon_bar_div {
    width: 60% !important;
  }
}
@media (min-width: 768px) {
  .icon_bar_div {
    width: 100% !important;

    .row {
      margin-left: -3rem !important;
      .contact_user {
        .contact_user_info {
          margin-left: 1rem;
        }
      }
    }
  }
  .user_form {
    width: 60% !important;
  }
}
@media (min-width: 992px) {
  .icon_bar_div {
    width: 100% !important;

    .row {
      margin-left: -6rem !important;
      .contact_user {
        .contact_user_info {
          margin-left: 1rem;
        }
      }
    }
  }
  .user_form {
    width: 55vw !important;
  }
}
/* Home page style */
.home_main_div {
  height: 90vh;
  background-image: linear-gradient(90deg, #fdf5e6 50%, $whiteColor 50%);

  .home_page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .home_div {
      width: 100vw;
      p {
        color: rgb(180, 180, 219);
        letter-spacing: 1px;
        font-weight: 700;
      }
      h1 {
        margin-bottom: 1rem;
        font-weight: 1200;
        font-size: 4rem;
        color: #b9b9ac;
      }
      h2 {
        font-weight: 900;
        font-size: 2rem;
      }
    }
  }
}
@media (min-width: 576px) {
  .home_main_div {
    height: 90vh;
    .home_page {
      position: relative;
      .home_div {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .home_main_div {
    height: 90vh;
    .home_page {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .home_div {
        width: max-content;
      }
    }
  }
}

/* about page style */

.user_profile {
  margin-top: 5rem;
  cursor: pointer;
  position: relative;

  form {
    background-color: $whiteColor;
    margin-bottom: 5rem !important;
    .profile_name_row {
      display: flex !important;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .img_div {
        width: 30vw !important;

        img {
          width: 30vw;
          border: 1px solid $blueColor;
        }
      }
      .profile_head {
        h2 {
          font-size: 1.4rem;
          font-weight: 900;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
        }
        h4 {
          font-size: 1.1rem;
          margin: 0.4rem 0;
          font-weight: 500;
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        }
      }
    }
    .btn_row {
      input {
        letter-spacing: 1px;
        font-size: 1rem;
        font-weight: 700;
        background-color: rgba($blueColor, 0.5);
        color: $whiteColor;
        border: none;
      }
      input:hover {
        opacity: 0.8;
      }
    }
    .tab_row {
      li {
        margin: 0 1rem;
        a {
          text-decoration: none;
        }
      }
    }
    .tab_info_row {
      margin-top: 0.9rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .row {
        margin-bottom: -1rem;
        .label_div {
          height: 3rem;
          label {
            color: rgb(40, 85, 87);
          }
        }

        p {
          color: darkgrey;
        }
      }
    }
  }
}
.profile-work {
  margin-top: 1rem;
  a {
    text-decoration: none;
    margin: 0.5rem 0.5rem !important;
  }
}
@media (min-width: 360px) {
  .user_profile {
    form {
      .profile-work {
        margin-bottom: 1rem;
      }
      .btn_row {
        margin-bottom: 1rem;
      }
    }
  }
}
@media (min-width: 576px) {
  .user_profile {
    margin: 3rem 1rem 3rem 3rem;
    form {
      .profile_name_row {
        .img_div {
          width: 20vw;

          img {
            width: 20vw;
          }
        }
      }
      .profile-work {
        margin-bottom: 0.5rem;
      }
    }
  }
}
@media (min-width: 768px) {
  .user_profile {
    form {
      height: max-content !important;
    }
  }
}
@media (min-width: 992px) {
  .user_profile {
    form {
      width: max-content !important;
      //height: 80vh !important;
      min-height: max-content !important;
      padding: 1rem 2rem;
      box-shadow: 5px 5px 20px rgba(0, 250, 250, 0.9);
      .profile_name_row {
        .img_div {
          height: 20vh !important;
          width: 10vw !important;
          img {
            width: 10vw;
          }
        }
        .profile_head {
          position: relative;
          padding-right: 1rem;
          h2 {
            font-size: 2rem;
            margin-left: 0rem;
            word-break: break-all;
            word-wrap: break-word;
          }
        }
      }
    }
    .profile-work {
      margin-top: 1rem !important;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
}

/* 404 Error page not found style */

.page_not_found {
  .notFound_div {
    .page_404 {
      position: absolute;
      top: 45%;
      left: 21%;
      //transform: translate(-30%, 0%);
      h1 {
        text-align: center;
        font-size: 7rem;
        font-weight: 900;
        opacity: 0.1;
        position: absolute;
      }
    }
    .page_info {
      width: 100%;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      h2 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: 900;
        text-transform: uppercase;
      }
      text-align: center;
      p {
        width: 97%;
        opacity: 0.6;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8rem;
      }
      .btn {
        text-align: center;
        background-color: $blueColor;
        color: whitesmoke;
      }
    }
  }
}
@media (min-width: 576px) {
  .page_not_found {
    .notFound_div {
      .page_404 {
        top: 55%;
        left: 33%;
      }
      .page_info {
        top: 80%;
      }
    }
  }
}

@media (min-width: 768px) {
  .page_not_found {
    .notFound_div {
      .page_404 {
        top: 25%;
        left: 26%;
        h1 {
          font-size: 10rem;
          letter-spacing: 1px;
        }
      }
      .page_info {
        top: 40%;
      }
    }
  }
}

@media (min-width: 992px) {
  .page_not_found {
    .notFound_div {
      .page_404 {
        top: 33%;
        left: 38%;
        h1 {
          font-size: 10rem;
          letter-spacing: 1px;
        }
      }
      .page_info {
        top: 50%;
        left: 50%;
      }
    }
  }
}
